<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/docs">docs</a></li>
        <li> <a href="https://github.com/5egy/9jaworld-api" target="_blank">repo</a></li>
      </ul>
    </nav>
    <div class="home">
      <h2 class="top-head">9jaworld API</h2>

      <h4>Introduction</h4>

      <p>
        This API documentation describes the RESTful API for the 9jaworld API.
        The API allows developers to interact with and use the informations
        about different countries in the world. The api was designed to give
        certain details (such as population, continent, flag, currency etc) on
        all the countries all over the world, details (such as region,
        governors, senators, house of reps etc) of the 36 states in Nigeria and
        all the Local government areas in the country. There's also an endpoint
        to get the list of past Presidents and Governors in Nigeria with certain
        details about their government.
      </p>

      <h4>Getting Started</h4>
      <p>
        To get started with the API, you don't need to create an account or
        obtain an API key. All you need to do is send your request to the right
        Endpoints and you're good to go.
      </p>

      <div>
        <p><a href="/countries">/countries</a> 150+ countries</p>
        <p><a href="/states">/states</a> 36 states in Nigeria</p>
        <p><a href="/lgas">/lgas</a> 500+ local government areas</p>
        <p><a href="/presidents">/presidents</a> 16+ Nigeria Presidents</p>
        <p><a href="/governors">/governors</a> 150+ Nigeria Governors</p>
        <p></p>
      </div>


      <p>see <a href="/docs">DOCS</a> for usage</p>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
