html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: aliceblue;
    padding: 1em;
    /* text-align: center; */
}

.top-head{
    font-size: max(1.5em, 1.5vw);
    margin-top: 3em;
}

.top-p{
    font-size: max(.8em, .8vw);   
    margin-top: .5em;
}

.route-container{
    margin-top: 1.3em;
}

.route-container div{
    margin-top: 1.3em;
}

 h4{
    font-size: max(1.2em, 1.2vw);   
}

p{
    font-size: max(.8em, .8vw);   
    margin-top: .8em;
}

.route-container p span{
   font-weight: bold;
}

.route-container p code{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(203, 0, 0);
 }

.route-container h6{
    font-size: max(1em, 1vw);
    margin-top: .5em;   
}

.home h4{
font-size: max(1em, 1vw);
margin-top: .8em;
}

.home p{
    margin-block: 1em;
}

.home a{
    color: red;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

ul a{
    display: inline-block;
    margin: 1em;
    padding: .5em;
    font-size: .8em;
    background-color: aliceblue;
    /* text-decoration: none; */
    color: blue;
}