<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="top-head">How to use it</h1>

    <p class="top-p">
      9jaworld can be used with any type of front end project that needs
      information of countries, states, local governments or any past leaders in
      Nigeria in the JSON format. you can use the below examples to check how it
      works.
    </p>

    <div class="route-container">
        <h4>Countries:</h4>
  
        <div>
          <h6>Get all countries</h6>
          <p><span>Route:</span> <code>"htehdjkc.com"</code></p>
          <p>
           <span>Sort:</span> <code>countries.comsort</code> This code sorts the countries by their name:
            
          </p>
          <p>
          <span>Sort:</span>  <code>countries.comsort</code>
            by default the items are sorted in ascending order, to sort in
            descending order use the desc parameter:
          </p>
        </div>
  
        <div>
          <h6>Get a single countries</h6>
          <p>Get a country by it ID: <code>"htehdjkc.com"</code></p>
        </div>
  
        <div>
          <h6>Search for countries</h6>
          <p><span>Search: </span>You can search for countries by their name, continent, currency and/or capital: <code>"htehdjkc.com"</code></p>
          <p>
            <span>Sort: </span>This code searched for countries that the name includes "Niger" and sorts them by their name:
            <code>countries.comsort</code>
          </p>
          <p>
           <span>Desc:</span> by default the items are sorted in ascending order, to sort in
            descending order use the desc parameter:
            <code>countries.comsort</code>
          </p>
        </div>
      </div>

   
  </body>
</html>
