<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div>
      <h2>API Documentation</h2>

      <h5>Introduction</h5>

      <p>
        This API documentation describes the RESTful API for the 9jaworld API.
        The API allows developers to interact with and use the informations
        about different countries in the world. The api was designed to give
        certain details (such as population, continent, flag, currency etc) on
        all the countries all over the world, details (such as region,
        governors, senators, house of reps etc) of the 36 states in Nigeria and
        all the Local government areas in the country. There's also an endpoint
        to get the list of past Presidents and Governors in Nigeria with certain
        details about their government.
      </p>

      <h5>Getting Started</h5>
      <p>
        To get started with the API, you don't need to create an account or
        obtain an API key. All you need to do is send your request to the right
        Endpoints and you're good to go.
      </p>

      <div>
        <p><a href="/">/countries</a> 150+ countries</p>
        <p><a href="/">/states</a> 36 states in Nigeria</p>
        <p><a href="/">/governors</a> 150+ Nigeria Governors</p>
        <p><a href="/">/lgas</a> 500+ local government areas</p>
        <p><a href="/">/presidents</a> 16+ Nigeria Presidents</p>
        <p></p>
      </div>


      <p>see <a href="docs.html">DOCS</a> for usage</p>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
